$scoreboard-text: #4b4b4b;

$accents: (
  poring: (
	lightest: #FFD8DE,
	light: #FFC1CB,
	base: #FFB1BC,
	dark: #FE9BA8,
	darkest: #FE95A3,
  ),
    deviling: (
    lightest: #E4D9FF,
    light: #C3B1E5,
    base: #A188C7,
    dark: #876CAB,
    darkest: #7958A3,
);

@each $key, $val in $accents {
  .use-accent-#{$key} {
	strong {
	  color: map_get($val, darkest);
	}
	.scoreboard-low {
	  color: #343a40;
	  background-color: map_get($val, lightest)
	 }
	.scoreboard-mid {
	  color: #343a40;
	  background-color: map_get($val, light)
	}
	.scoreboard-high {
	  color: #343a40;
	  background-color: map_get($val, base)
	}
  }
}

//   ghostring: (
//	lightest: #,
//	light: #,
//	base: #,
//	dark: #,
//	darkest: #,
