$scoreboard-text: #4b4b4b;

$accents: (
  poring: (
	lightest: #FFD8DE,
	light: #FFC1CB,
	base: #FFB1BC,
	dark: #FE9BA8,
	darkest: #FE95A3,
  ),
  deviling: (
	lightest: #E4D9FF,
	light: #C3B1E5,
	base: #A188C7,
	dark: #876CAB,
	darkest: #7958A3,
  ),
//   ghostring: (
//	lightest: #E8ECF8,
//	light: #DCE2F4,
//	base: #D2D9EF,
//	dark: #C5CDE9,
//	darkest: #B8C1E3,
//  ),
//   drops: (
//	lightest: #FFF5CF,
//	light: #F5E3AD,
//	base: #EAC699,
//	dark: #E0A884,
//	darkest: #D58C71,
//  ),
//   poporing: (
//	lightest: #EAF1CF,
//	light: #CAE19D,
//	base: #AED680,
//	dark: #A5D074,
//	darkest: #91B867,
//  ),
);

@each $key, $val in $accents {
  .use-accent-#{$key} {
	strong {
	  color: map_get($val, darkest);
	}
	.scoreboard-low {
	  color: #343a40;
	  background-color: map_get($val, lightest)
	 }
	.scoreboard-mid {
	  color: #343a40;
	  background-color: map_get($val, light)
	}
	.scoreboard-high {
	  color: #343a40;
	  background-color: map_get($val, base)
	}
  }
}
