$scoreboard-text: white;

$accents: (
  nightmare: (
  	lightest: #4e5259,
  	light: #4e5259,
  	base: #4e5259,
  	dark: #4e5259,
  	darkest: #4e5259,
  ),
  poring: (
	lightest: #FFC1CB,
	light: #FFBCC6,
	base: #FFB8C3,
	dark: #FFACB7,
	darkest: #FFA4B0,
  ),
  deviling: (
	lightest: #C3B1E3,
	light: #AF9AD1,
	base: #9176B9,
	dark: #8165A8,
	darkest: #7A5AA4,
  ),
  ghostring: (
    lightest: #CAD0EB,
    light: #C3CBE8,
    base: #BEC6E5,
    dark: #B8C1E3,
  	darkest: #B4BDE0,
  ),
  drops: (
    lightest: #FDD194,
    light: #FFC989,
    base: #FFC28B,
    dark: #FFBB7E,
    darkest: #FFB47D,
  ),
  poporing: (
    lightest: #B6D987,
    light: #A5D074,
    base: #9BC16C,
    dark: #96BC69,
    darkest: #719A4E,
  ),
  pouring: (
    lightest: #A4DFFF,
    light: #8CD3FF,
    base: #6CC0FF,
    dark: #56B2FF,
    darkest: #499DFF,
    ),
);

@each $key, $accent in $accents {
  @each $label, $hex in $accent {
	.bg-#{$key}-#{$label} {
	  background-color: $hex;
	}
  }
  .use-accent-#{$key} {
	.markdown-compiled {
	  h1 {
		color: white;
		background-color: map_get($accent, darkest);
	  }
	}
	strong {
	  color: map_get($accent, darkest);
	}
	.scoreboard-low {
		color: $scoreboard-text;
		background-color: map_get($accent, lightest)
	 }
	.scoreboard-mid {
		color: $scoreboard-text;
	  background-color: map_get($accent, light)
	}
	.scoreboard-high {
	  color: $scoreboard-text;
	  background-color: map_get($accent, base)
	}
  }
}
