.agile {
  position: relative;
  &, * {
    &:focus,
    &:active {
      outline: none;
    }
  }
  &__list {
    display: block;
    overflow: hidden;
    position: relative;
    width: 100%;
  }
  &__track {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    .agile--disabled & {
      display: block;
    }
  }
  &__slide {
    display: block;
    .agile--fade & {
      opacity: 0;
      position: relative;
      z-index: 0;
      &--active {
        opacity: 1;
        z-index: 2;
      }
      &--expiring {
        opacity: 1;
        transition-duration: 0s;
        z-index: 1;
      }
    }
  }
  &__arrow {
    &[disabled] {
      cursor: default;
    }
  }
  &__dots {
    align-items: center;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    white-space: nowrap;
  }
  &__dot {
    button {
      cursor: pointer;
      display: block;
      font-size: 0;
      line-height: 0;
    }
  }
}