.btn-primary {
  color: #fff;
  background-color: #10a9f5;
  border-color: #10a9f5;
}

.btn-blue {
  $color:#3724BC;

  color: white;
  background-color: $color;
  border-color: darken($color, 0.5);

  &:hover {
    background-color: #6917a5;
    border-color: darken(#6917a5, 0.5);
  }
}