.microcard {
  .information {
    h3 {
      font-size: 1rem;
      font-weight: 700;
      color: #525860;
      margin: 0;
      line-height: 1;
      padding-bottom: 0.2rem;
    }
    p {
      font-size: 0.75rem;
      margin: 0;
      line-height: 1;
      color: rgba(0, 0, 0, 0.6);
    }
  }
}