.server.card {

  @import url('https://fonts.googleapis.com/css?family=Arvo:400,700|Lato:400,700');

  $ranking-wall: 10px;

  border: none;
  padding-left: $ranking-wall;
  padding-right: $ranking-wall;
  background: transparent;

  .inside {
    padding: 10px;
    padding-top: 0;
    overflow: hidden;
    min-height: 140px;
    background: white;
    border: 1px solid #e2e1e1;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);


    .header {
      min-height: 25px;
      align-items: flex-end;
      margin-left: 63px;
      justify-content: space-between;
      font-weight: bold;
      font-family: 'Lato', sans-serif;

      .server-name {
        text-transform: capitalize;
        font-size: large;
        font-family: 'Arvo', serif;
      }

      p, h6 {
        margin-bottom: 0;
      }

      span.in {
        color: green;
        background-color: rgba(0, 128, 0, 0.07);
        padding-left: 5px;
        padding-right: 5px;
      }
      span.out {
        color: red;
        background-color: rgba(255, 0, 0, 0.11);
        padding-left: 5px;
        padding-right: 5px;
      }
    }

    .body {

      p {
        margin-bottom: 0;
        font-size: small;
        color: #1a0dab;
      }

      div:first-child {
        padding-right: 5px;
      }
      div:last-child {
        padding-left: 5px;
      }
    }
    .footer {
      min-height: 15px;
      //background: #ececec;
      font-size: 14px;

      .information {
        background: #ececec;
        font-size: smaller;
        box-shadow: inset 0 2px 4px 0 rgba(0,0,0,0.06);
      }
    }

    &:hover {
      cursor: pointer;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.12), 0 2px 4px 0 rgba(0,0,0,0.08);

      p {
        //text-decoration: underline;
      }
    }
  }

  .statistics {
    position: absolute;
    margin-left: -$ranking-wall;
    margin-right: -$ranking-wall;
  }

  .ranking {
    width: 77px;
    height: 37px;
    left: $ranking-wall;

    .text {
      font-weight: bold;
      color: white;
      padding: 5px;
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
      background: darkred;
      //background: url("../images/rank-button/rank-silver-fluid.png");
      position: absolute;
      right: 20px;
      top: 5px;
      font-size: small;
      font-family: 'Lato', sans-serif;
    }
  }
}

.membership-silver {
  .inside {
    border: 1px solid #DCDCDC;
    box-shadow: 0 5px 12px rgba(0,0,0,.055);
  }
}

.membership-gold {
  .inside {
    border: 1px solid #ffc74d !important;
    background: linear-gradient(to bottom,#ffedb5 0,#fff5d9 100%) !important;
  }
}

// LETS PADDING OUT STUFF.
.information, .tags {
  & > div {
    margin-left: 2.5px;
    margin-right: 2.5px;

    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}