
$color-orange: #ff7500;
$color-grey-darkest: #2a2a2a;
$color-green: #8dc73f;
$color-green-alt: #9bcf85;
$color-red: #fc0097ab;
$color-transparent: hsla(0,0%,100%,.5);
$color-blue: #10a9f5;
$color-black: #22292f;

.text-green {
  color: $color-green;
}

.background-green {
  background-color: $color-green;
}

.border-left-green-1 {
  border-left: 1px solid $color-green;
}
.background-green-faded {
  background-color: rgba($color-green, 0.08);
}

.text-transparent {
  color: $color-transparent;
}

.background-transparent-dark-15 {
  background: rgba(0,0,0,.15);
}

.text-orange {
  color: $color-orange;
}
.border-left-orange-1 {
  border-left: 1px solid $color-orange;
}
.background-orange-faded {
  background-color: rgba($color-orange, 0.08);
}


.text-red {
  color: $color-red;
}

.text-blue {
  color: $color-blue;
}

.bg-grey-darkest {
  background-color: $color-grey-darkest;
}


.text-black {
  color: $color-black;
}