
.flare {
  padding-left: 0.8em;
  padding-right: 0.8em;
  width: fit-content;
  border-radius: 2px;
  text-transform: uppercase;
  margin-right: 0.5em;

  &.pk {
    color: white;
    background-color:#d77071;
  }

  &.g-pack {
    color: white;
    background-color:#7899dc;
  }

}