
  footer {
    padding-top: 7rem;
    //background: radial-gradient(circle at 1% 1%,#604ea6, #3b3592);
    background: linear-gradient(#6719a5 0%, #651aa6 5.83%, #4e20ad 100%);


    h2 {
      color: white;
      font-size: 1.4em;
      margin-bottom: 1.5rem;
    }

    p {
      line-height: 1.7;
      color: white;
    }

    .list {
      li {
        padding-top: 5px;
        padding-bottom: 5px;
      }
    }

    .icon {
      font-size: 1.6rem;
    }

    #copyrights {
      background-color: rgba(52, 44, 115, 0.28);
      font-size:0.9rem;
      margin-top:4rem;
      padding-top: 1rem;
      padding-bottom: 1rem;
    }

    .website-banner h1 {
      font-size: 5em;
      letter-spacing: 1.8rem;
      margin-bottom: 1em;
      color: rgba(255, 255, 255, 0.1);
    }
  }