
  footer {
    border-top: 9px solid #532eb4;
    padding-top: 7rem;
    background: linear-gradient(90deg, #4822af 0%, #4822af 100%), url(/img/overlay-stripe.jpg) !important;
    background-blend-mode: overlay;


    h2 {
      color: white;
      font-size: 1.4em;
      margin-bottom: 1.5rem;
    }

    p {
      line-height: 1.7;
      color: white;
    }

    .list {
      li {
        padding-top: 5px;
        padding-bottom: 5px;
      }
    }

    .icon {
      font-size: 1.6rem;
    }

    #copyrights {
      background-color: rgb(71, 33, 171);
      font-size:0.9rem;
      margin-top:4rem;
      padding-top: 1rem;
      padding-bottom: 1rem;
    }

    .website-banner h1 {
      font-size: 5em;
      letter-spacing: 1.8rem;
      margin-bottom: 1em;
      color: rgba(255, 255, 255, 0.1);
    }
  }