
.element {
    font-size:11px;
    text-shadow: 0px 1px rgba( 255, 255, 255, 0.2 );
    @apply tw-col-span-1 tw-px-2 tw-py-1 tw-rounded tw-mr-2;

    &.wind {
        color: rgba( 78, 84, 41, 1 );
        background: rgba( 190, 224, 0, 1 );
    }
    &.fire {
        background: rgba( 239, 7, 71, 1 );
        @apply tw-text-white;
    }
    &.poison {
        background: rgba( 93, 42, 146, 1 );
        @apply tw-text-white;
    }
    &.water {
        background: rgba( 4, 165, 243, 1 );
        @apply tw-text-white;
    }
    &.neutral {
        color: rgba( 30, 30, 30, 0.8 );
        background: rgba( 242, 242, 242, 1 );
    }
    &.dark {
        background:rgba( 48, 48, 48, 1 );
        @apply tw-text-white;
    }
    &.holy {
        color: rgba( 62, 62, 62, 1 );
        background: rgba( 247, 181, 34, 1 );
    }
    &.earth {
        background:rgba( 130, 78, 62, 1 );
        @apply tw-text-white;
    }
    &.ghost {
        color: rgba( 115, 115, 115, 1 );
        background:rgba( 197, 205, 200, 1 );
    }
    &.undead {
        background: rgba( 40, 46, 84, 1 );
        @apply tw-text-white;
    }
}