#rr-navbar {
    color: rgba(255, 255, 255, .7);
    border-bottom: 2px solid white;
    background: linear-gradient(90deg, rgba(56,39,180,1) 0%, rgba(108,24,164,1) 100%);

    .tw-container {
        min-height: 92px;
    }

    ul {
        margin-bottom: 0;
    }

    #logo {

    }
    #nav-left {

    }
    #nav-right {

    }

    ul>li {
        line-height: 48px;

        a {
            color: inherit;
            text-decoration: none;
        }

        .badge {
            position: absolute;
            top: -4px;
            right: 16px;
            transform: translateX(50%);
            display: inline-block;
            height: 18px;
            padding: 0 6px;
            color: #fff;
            font-weight: 500;
            font-size: 12px;
            text-align: center;
            line-height: 16px;
            white-space: nowrap;
            border: 1px solid #fff;
            border-radius: 9px;
            background-color: #ff4949;
        }
    }

    .nav-item {
        position: relative;
    }
    .nav-item:hover, .nav-item.active {
        color: white;
        cursor: pointer;
        transition: color .3s;
        background: rgba(255, 255, 255, .05);
        transform: scaleX(1);
    }
    .nav-item.active:hover {
        background: rgba(255, 255, 255, .1);
    }
    .nav-item:hover:after, .nav-item.active:after {
        transform: scaleX(1);
    }
    .nav-item:after {
        content: "";
        position: absolute;
        display: inline-block;
        width: 100%;
        height: 2px;
        left: 0;
        bottom: 0;
        background-color: white;
        transform: scaleX(0);
        transition: all .15s;
    }
}


#navbar-top {
  //background: radial-gradient(circle at 50% 1%, #604ea6, #3b3592);
  //background: radial-gradient(circle at 50% 1%, rgb(147, 54, 180), rgba(56,39,180,1));
  //background: rgb(56,39,180);
  background: linear-gradient(90deg, rgba(56,39,180,1) 0%, rgba(108,24,164,1) 100%);
}

#logo {
  font-size:1.7em;
}

#navbar-top {
  border-bottom: 2px solid white;
}

.navbar-nav {

  font-family: 'Roboto', sans-serif;

  .nav-link {
    color: rgba(255, 255, 255, 0.7) !important;

    .member {
      .details p {
        color: rgba(255, 255, 255, 0.7) !important;
      }
    }
  }

  .nav-link:hover {
    color: white !important;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    background: #3b277c;
    webkit-border-radius: 3px;
    moz-border-radius: 3px;
    border-radius: 3px;
  }
}

#navbar-right, #navbar-left {
  .at-menu--horizontal {
    color: rgba(255, 255, 255, .7);
    border-bottom: none;
  }
  .at-menu__item--active, .at-menu--horizontal .at-menu__item-link:hover, .at-menu--horizontal .at-menu__item-link.router-link-active, .at-menu--horizontal .at-menu__submenu:hover > .at-menu__submenu-title, .at-menu--horizontal .at-menu__submenu.at-menu__submenu--active > .at-menu__submenu-title {
    color: white!important;
    background: rgba(255, 255, 255, 0.05);
    .at-menu__item-link {
      color:white;
    }
  }
  .at-menu--horizontal .at-menu__item-link::after, .at-menu--horizontal .at-menu__submenu::after {
    background: white;
  }
  .at-menu__item-link,   .at-menu__item-group-title {
    color: rgba(255, 255, 255, 0.7);
  }
  .at-menu__submenu {
    .at-menu__item-link,   .at-menu__item-group-title {
      color:white;
    }
    .at-dropdown-menu {
      background-color: rgb(99, 26, 167);
    }
  }
}
