

  #curtain {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background: linear-gradient(180deg,#f44881,#ec454f);

    .labels ul li {
      font-weight: bold;
      display: inline;
      font-size: 9.5px;
      padding: .5rem 1rem;
      text-transform: uppercase;
      background: rgba(0,0,0,.15);
      color: white;
    }

    .screenshot {
      //border: 3px solid white;
    }

    .stars {
      color: #ffffffc4;
      font-size: 1em;
      letter-spacing: 9px;
      justify-content: center;
    }

    .stats {
      //text-indent: 5px;
    }

    .actions {
      .btn {
        margin-right: 1rem;
        border-radius: 9px;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
      }

      .btn-trans {
        font-weight: bold;
        text-transform: uppercase;
        font-size: 12px;
        color: #fff;
        background: hsla(0,0%,100%,.2);
        border: 1px solid hsla(0,0%,100%,.2);

        &:hover, &.active {
          background-color: #fff;
          color: #22292f;
          border: 1px solid #fff;
        }
      }
    }
  }

  #ratings {

    .rating-is-good {
        background: radial-gradient(circle at 1% 1%, #ff2d58, #ec454f);
    }
    .rating-is-ok {
        background: #7e878f;
    }
    .rating-is-bad {
        background: #7e878f;
    }

    .score  {
      top: -5px;
      right: 24px;
      font-size: 5rem;
      letter-spacing: -15px;
      color: #dadfe0;
      text-shadow: 0 1px 3px #58585878;
    }
  }

  #configuration {

    .heading {
      color: white;
      padding: 5px 10px;
      border-radius: 6px;
    }

    .config {
      padding: 1rem 1rem;
      box-shadow: inset 0px 2px 1px 0 rgba(0, 0, 0, 0.09);
      margin-bottom: 1em;
      border: 1px solid white;
      background: white;

      .icon {
        border-radius: 30px;
        border: 2px solid #ff1f4c;
      }

      .details {

      }

      &:hover {
        border-radius: .5rem;
        background-color: #f6f6f6;
        cursor: pointer;
      }
    }
  }