
  #curtain {

    h2 {
      font-size: 3rem;
      margin-bottom: 2.5rem;
      color: #333a41;
    }

    .labels ul li {
      font-weight: bold;
      display: inline;
      font-size: 9.5px;
      padding: .5rem 1rem;
      text-transform: uppercase;
      background: rgb(50, 58, 66);
      color: #ffffff;
    }

    .image {
      background-repeat: no-repeat !important;
      -webkit-clip-path: polygon(25% 0, 0 500px, 500px 500px, 500px 0);
      background-size: cover !important;
      background-position: center !important;
    }

    .stars {
      color: #ffffffc4;
      font-size: 1em;
      letter-spacing: 9px;
      justify-content: center;
    }

    .stats {
      //text-indent: 5px;
    }

    .actions {
      .btn {
        margin-right: 1rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
      }

      .btn-trans {
        font-weight: bold;
        text-transform: uppercase;
        font-size: 12px;
        background-color: #fafafa;
        color: #22292f;
        border: 1px solid #f1f1f1;

        &:hover, &.active {
          box-shadow: 0px 1px 2px #dddddd;
        }
      }
    }
  }

  #configuration {
    .list {
      .config {
        background: rgb(250, 250, 250);
      }
      .config:nth-child(2n) {
        background: white;
      }
    }
  }

  #reviews {
    .subheading {
      border-left: 3px solid #dddddd;
      border-right: 3px solid #dddddd;
      padding-left: 10px;
    }

    .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
      background: #ff0051;
      color: white !important;
      font-weight: bold;
    }

    .review {

      .rating {
        padding-top: 6% !important;
        border: 1px solid #e9e9e9;
        border-left: 1px dashed #e9e9e9;
        .stars {
          font-size: 13px;
        }
        .alt {
          font-size: small;
        }
      }
      .avatar {
        color: white;
        height:50px;
        width: 50px;
        border-radius: 50%;
        background: #7e878f;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: large;
        &::before {
          width: 0;
          height: 0;
          border-bottom: 12px solid transparent;
          border-top: 12px solid transparent;
          border-right: 12px solid #fff;
          position: absolute;
          left: -12px;
          top: 13px;
          content: "";
        }
      }
      .content {
        border-left: 1px solid #e9e9e9;
        border-top: 1px solid #e9e9e9;
        border-bottom: 1px solid #e9e9e9;
        &::before {
          content:"\A";
          border-style: solid;
          border-width: 10px 15px 10px 0;
          border-color: transparent #e9e9e9 transparent transparent;
          position: absolute;
          left: -15px;
        }
      }
      //border-left: 2px solid #ff2a49;
      .info {
        margin-bottom:1rem;
        .user {
          font-weight: bold;
        }
      }
      .scores {
        margin-top:2rem;
        .score {
          margin-right: 1em;
          font-size: x-small;
          border-radius: 5%;
          background: #f6f6f6;
          padding: 4px 8px;
        }
      }
      .description {
        text-align: justify;
      }
    }
  }

  .rating-block {
      margin-right: .5rem;
    &:last-child {
      margin-right: 0;
    }
  }

  #ratings {
    .score  {
      top: -5px;
      right: 30px;
      font-size: 4rem;
      letter-spacing: -15px;
      color: #dadfe0;
      text-shadow: 0 1px 3px #58585878;
    }

    .scale-1 {
      color: white;
      background-color: #9B9B9B;
    }
    .scale-2 {
      color: white;
      background-color: #9B9B9B;
    }
    .scale-3 {
       color: white;
       background-color: #9B9B9B;
     }
    .scale-4 {
      color: white;
      background-color: #B9B9B9;
    }
    .scale-5 {
      color: white;
      background-color: #B9B9B9;
    }
    .scale-6 {
      color: white;
      background-color: #B9B9B9;
    }
    .scale-7 {
      color: white;
      background-color: #C9C9C9;
    }
  }