
  #server-wrapper {
    background: url(https://www.novaragnarok.com/forum/uploads/monthly_2016_02/Prontera.jpg.43db5c8515e97d6509a7e46fb653227b.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    //background-size: cover;
    //background-attachment: fixed;
    //background-repeat: no-repeat;
    //background: url(https://www.novaragnarok.com/forum/uploads/monthly_2016_02/Prontera.jpg.43db5c8515e97d6509a7e46fb653227b.jpg);
  }

  #curtain {
    padding-top: 5rem;
    .container {
      .row {
        padding:2em;
        padding-top:4em;
        padding-bottom: 5em;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        background: white;
        background: linear-gradient(180deg,#f44881,#ec454f);
        box-shadow: inset 0px -1px 5px 0px #d00032;
      }
    }
    //background: linear-gradient(180deg,#f44881,#ec454f);

    h2 {
      font-size: 2rem;
      margin-bottom: 2rem;
    }

    .labels ul li {
      font-weight: bold;
      display: inline;
      font-size: 9.5px;
      padding: .5rem 1rem;
      text-transform: uppercase;
      background: rgba(0,0,0,.15);
      color: white;
    }

    .screenshot {
      //border: 3px solid white;
    }

    .stars {
      color: #ffffffc4;
      font-size: 1em;
      letter-spacing: 9px;
      justify-content: center;
    }

    .stats {
      //text-indent: 5px;
    }

    .actions {
      .btn {
        margin-right: 1rem;
        border-radius: 9px;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
      }

      .btn-trans {
        font-weight: bold;
        text-transform: uppercase;
        font-size: 12px;
        color: #fff;
        background: hsla(0,0%,100%,.2);
        border: 1px solid hsla(0,0%,100%,.2);

        &:hover, &.active {
          background-color: #fff;
          color: #22292f;
          border: 1px solid #fff;
        }
      }
    }
  }

  #ratings {
    .score  {
      top: -5px;
      right: 24px;
      font-size: 5rem;
      letter-spacing: -15px;
      color: #dadfe0;
      text-shadow: 0 1px 3px #58585878;
    }
  }

  #configuration {
    .container {
      border-top: 2px solid #c02738;
      //background: url("https://www.toptal.com/designers/subtlepatterns/patterns/greyzz.png");
    }
    .heading {
      color: white;
      padding: 5px 10px;
    }
    .config {
      padding: 1rem 1rem;
      box-shadow: inset 0px 2px 1px 0 rgba(0, 0, 0, 0.09);
      margin-bottom: 1em;
      border: 1px solid white;
      background: white;
      .icon {
        border-radius: 30px;
        border: 2px solid #ff1f4c;
      }
      .details {

      }
      &:hover {
        border-radius: .5rem;
        background-color: #f6f6f6;
        cursor: pointer;
      }
    }
  }

  #reviews {
    .subheading {
      border-left: 3px solid #dddddd;
      border-right: 3px solid #dddddd;
      padding-left: 10px;
    }

    .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
      background: #ff0051;
      color: white !important;
      font-weight: bold;
    }

    .review {

      .rating {
        padding-top: 6% !important;
        border-left: 1px dashed #eaeaea;
        box-shadow: 2px 2px 2px 0 #eee;
        .stars {
          font-size: 13px;
        }
        .alt {
          font-size: small;
        }
      }
      .avatar {
        color: white;
        height:50px;
        width: 50px;
        border-radius: 50%;
        background: #7e878f;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: large;
        &::before {
          width: 0;
          height: 0;
          border-bottom: 12px solid transparent;
          border-top: 12px solid transparent;
          border-right: 12px solid #fff;
          position: absolute;
          left: -12px;
          top: 13px;
          content: "";
        }
      }
      .content {
        box-shadow: 0px 2px 2px 0 #eee;
        &::before {
          content:"\A";
          border-style: solid;
          border-width: 10px 15px 10px 0;
          border-color: transparent white transparent transparent;
          position: absolute;
          left: -15px;
        }
      }
      //border-left: 2px solid #ff2a49;
      .info {
        margin-bottom:1rem;
        .user {
          font-weight: bold;
        }
      }
      .scores {
        margin-top:2rem;
        .score {
          margin-right: 1em;
          font-size: x-small;
          border-radius: 5%;
          background: #f6f6f6;
          padding: 4px 8px;
        }
      }
      .description {
        text-align: justify;
      }
    }
  }

  .score-is-good {
    color: white;
    background: radial-gradient(circle at 1% 1%, #ff2d58, #ec454f) !important;
  }
  .score-is-ok {
    background: #7e878f;
  }
  .score-is-bad {
    background: #7e878f;
  }