#spotlight {

  .nav-link {
    &.active {
      font-weight: bold;
      text-decoration: underline;
      background-color: #5b3b8026;
    }
  }

  &.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
  }

  &.sticky + #stage {
    margin-top: 77px !important;
  }
}

