@media (min-width: 768px)
{
     .tw-container {
        padding-left: 2.7rem;
        padding-right: 2.7rem;
    }
}
@media (max-width: 768px)
{
    .tw-container {
        padding-left: 0.75rem;
        padding-right: 0.75rem;
    }
}
