// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

// import tailwind
@import 'tailwind-directives';

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// flickity sliders
@import "~flickity/dist/flickity.css";

// management of logo styles.
@import 'logo';

@import 'colours';
@import 'navbar';
@import 'spotlight';
@import 'stage';
@import 'cards';
@import 'buttons';
@import 'sidebar';
@import 'flares';
@import 'filter';
@import 'footer';
@import 'server-profile';
@import 'tailwindsnippets.scss';

html {
  font-size: 100%;
}

body {
  color:#4E5259;
  background: #F9F9F9;
  font-family: "Open Sans", sans-serif;
  background: url("../img/background.jpg");
  background-attachment: fixed;
}

p {
  font-size: 12px;
  margin-bottom: initial;
}

h1,h2,h3,h4,h5 {
  font-size: 16px;
}

.subheading {
  color: rgba(82, 88, 96, 0.7);
}

.shadow-inner {
  box-shadow: inset 0 2px 4px 0 rgba(0,0,0,0.25);
}

.w-15 {
  width: 15% !important;
}

.place_behind {
  z-index: -1;
}
.place-in-front {
  z-index: 1;
}

.heading-underline {
  border-bottom: 1px solid #ddd;
  padding-bottom: 0.7em !important;
}