// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// flickity sliders
@import "~flickity/dist/flickity.css";

// management of logo styles.
@import 'logo';

@import 'colours';
@import 'navbar';
@import 'spotlight';
@import 'stage';
@import 'cards';
@import 'buttons';
@import 'sidebar';
@import 'flares';
@import 'filter';
@import 'footer';
@import 'reviews';
@import 'server-profile';
@import 'tailwindsnippets.scss';

html {
  font-size: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 1.6;
  color: #525860;
  font-weight: normal;
  background: white;
}

p {
  font-size: 0.875rem;
  color: rgba(82, 88, 96, 0.7);
  line-height: 1.375rem;
}

h1,h2,h3,h4,h5 {
  font-family: 'Roboto', sans-serif;
  color: #10a9f5;
  font-weight: 700;
}

h3 {
  font-size: 1.200rem;
}

h4 {
  font-size: 1.000rem;
}

.subheading {
  color: rgba(82, 88, 96, 0.7);
}

.shadow-inner {
  box-shadow: inset 0 2px 4px 0 rgba(0,0,0,0.25);
}

.w-15 {
  width: 15% !important;
}

.place_behind {
  z-index: -1;
}
.place-in-front {
  z-index: 1;
}